.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.red,.yellow,.green{
  background-color: red;
  color: white;
  margin: 5px;
  padding: 4px 20px;
  border-radius: 15px;
}

.yellow{
  background-color:yellow;
  color:black;
}

.green{
  background-color:green;
}
